@use "../../styles/variables" as *;

.group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  color: var(--color-black-900);
  line-height: var(--line-height-tight);
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.more {
  align-self: flex-start;
  color: var(--color-brand);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);

  &:hover {
    color: var(--color-brand-hover);
  }
}
